/*-- scss:rules --*/
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css';

.navbar {
  font-size: 1rem;
  font-weight: 700;
  font-kerning: none;
  font-stretch: 150%;

  .nav-item {
    margin-right: .5rem;
    margin-left: .5rem;
  }

  .navbar-nav {
    .nav-link {
      border-radius: $border-radius;
    }
  }
}

/*-- scss:defaults --*/
$theme: "zephyr" !default;
$font-family-sans-serif: 'Atkinson Hyperlegible' !default;
$font-family-monospace: 'Hack' !default;
$code-color: #4758AB;
$line-height-base: 2;
