/*-- scss:defaults --*/

// Use zephyr as the base
$theme: "zephyr" !default;

// Import google fonts
@import 'https://fonts.googleapis.com/css2?family=Fira+Sans';
@import 'https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css';

// Use Fira Sans for prose, and Hack for code
$font-family-sans-serif: 'Fira Sans' !default;
$font-family-monospace: 'Hack' !default;

// Tweak color of inline code to match the color of function calls in code blocks
$code-color: #4758AB;

// Add a bit more vertical space between lines of text.
$line-height-base: 2;
